<div class="int1-milestones container">
  <div class="row">
    <div class="col-md-6">
      <div class="btn-group" uib-dropdown is-open="dropDownStatus.isopen">
        <button type="button" class="btn btn-primary" uib-dropdown-toggle>Order By: <span class="caret"></span></button>
	  	<ul class="dropdown-menu" uib-dropdown-menu role="menu">
          <li role="menuitem"><a href="#">Date</a></li>
          <li role="menuitem"><a href="#">Name</a></li>
		</ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <button type="button" class="btn btn-primary">Add Milestone</button>
      </div>
	</div>
  </div>
  <div class="row">
  	<div class="col-md-12">
      <div ng-hide="vm.milestones.length">
        <div class="text-center">
          <h4>No milestones have been defined.</h4>
        </div>
      </div>
	</div>
  </div>
</div>
