<div class="int1-add-milestone">

  <div class="modal-header">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Add a Milestone</h4>
  </div>

  <div class="modal-body">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="vm.name" ng-required="true" placeholder="Milestone Name">

    <label for="date">Date</label>
    <p class="input-group">
      <input type="text" class="form-control" id="date" uib-datepicker-popup ng-model="vm.date" is-open="vm.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="vm.openDatePopUp()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
	<p>{{vm.date}}</p>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="vm.saveMilestone()">Save changes</button>
  </div>

</div>
